/*place global styles here */
html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Overpass-Light';
	src: url('/fonts/Overpass-Light.ttf');
	font-display: swap;
}
:root {
	--theme-font-family-base: 'Overpass-Light', sans-serif;
	--theme-font-family-heading: 'Overpass-Light', sans-serif;
}
