/*place global styles here */
html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Overpass';
	src: url('/fonts/Overpass.ttf');
	ascent-override: 110%;
}
:root {
	--theme-font-family-base: 'Overpass', sans-serif;
	--theme-font-family-heading: 'Overpass', sans-serif;
}
